 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 2355px;
	 height: 5000px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #GradientMap1 
{ 
	
	 position: absolute; 
	 width: 2355px;
	 height: 5000px;
	 z-index:1;
} 

 #kingslandings 
{ 
	
	 position: absolute; 
	
	 z-index:2;
    
} 

 #highgarten 
{ 
	 left: 708px; 
	 top: 3484px; 
	 position: absolute; 
	 width: 240px;
	 height: 209px;
	 z-index:3;
    visibility: hidden;
} 

 #casterlyRockcopy 
{ 
	
	 position: absolute; 
	
	 z-index:4;
  
} 

 #wall 
{ 
	 
	 position: absolute; 
	 width: 392px;
	 height: 390px;
	 z-index:50;
   
} 

 #castleblack 
{ 
	 left: 1416px; 
	 top: 244px; 
	 position: absolute; 
	 width: 205px;
	 height: 163px;
	 z-index:6;
    visibility: hidden;
} 

 #thetwins 
{ 
	 
	 position: absolute; 
	 
	 z-index:7;
    
} 

 #sunspearcopy 
{ 
	 left: 1846px; 
	 top: 4035px; 
	 position: absolute; 
	 width: 206px;
	 height: 204px;
	 z-index:8;
    visibility: hidden;
} 

 #dragonstonecopy2 
{ 
	 left: 1818px; 
	 top: 2752px; 
	 position: absolute; 
	 
	 z-index:9;
   
} 

 #pykecopy 
{ 
	
	 position: absolute; 
	
	 z-index:10;
    
} 

 #harrenhal 
{ 
	 left: 1146px; 
	 top: 2496px; 
	 position: absolute; 
	 width: 230px;
	 height: 231px;
	 z-index:11;
    visibility: hidden;
} 

 #reverruncopy 
{ 
	 left: 789px; 
	 top: 2309px; 
	 position: absolute; 
	 width: 236px;
	 height: 262px;
	 z-index:12;
    visibility: hidden;
} 
